In [69]:
import numpy as np
import pandas as pd

train = pd.read_csv("C:\\Users\\ani12\\Downloads\\train_s3TEQDk.csv")
train

,ID,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead
0,NNVBBKZB,Female,73,RG268,Other,X3,43,No,1045696,No,0
1,IDD62UNG,Female,30,RG277,Salaried,X1,32,No,581988,No,0
2,HD3DSEMC,Female,56,RG268,Self_Employed,X3,26,No,1484315,Yes,0
3,BF3NC7KV,Male,34,RG270,Salaried,X1,19,No,470454,No,0
4,TEASRWXV,Female,30,RG282,Salaried,X1,33,No,886787,No,0
...,...,...,...,...,...,...,...,...,...,...,...
245720,BPAWWXZN,Male,51,RG284,Self_Employed,X3,109,NaN,1925586,No,0
245721,HFNB7JY8,Male,27,RG268,Salaried,X1,15,No,862952,Yes,0
245722,GEHAUCWT,Female,26,RG281,Salaried,X1,13,No,670659,No,0
245723,GE7V8SAH,Female,28,RG273,Salaried,X1,31,No,407504,No,0
245724,BOCZSWLJ,Male,29,RG269,Salaried,X1,21,No,1129276,No,0

In [70]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245725 entries, 0 to 245724
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   245725 non-null  object
 1   Gender               245725 non-null  object
 2   Age                  245725 non-null  int64
 3   Region_Code          245725 non-null  object
 4   Occupation           245725 non-null  object
 5   Channel_Code         245725 non-null  object
 6   Vintage              245725 non-null  int64
 7   Credit_Product       216400 non-null  object
 8   Avg_Account_Balance  245725 non-null  int64
 9   Is_Active            245725 non-null  object
 10  Is_Lead              245725 non-null  int64
dtypes: int64(4), object(7)
memory usage: 20.6+ MB

In [131]:
train.isnull().sum()

ID                         0
Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         29325
Avg_Account_Balance        0
Is_Active                  0
Is_Lead                    0
dtype: int64

# Drop null value from Credit_Product column because it has a lot of null values

In [132]:
#train_new1 = train.dropna()
#train_new1.head(10)
train_new1 = train

In [150]:
from sklearn.preprocessing import LabelEncoder
Gender_new = pd.get_dummies(train_new1['Gender'],)
Occupation_new = pd.get_dummies(train_new1['Occupation'])
Channel_Code_new = pd.get_dummies(train_new1['Channel_Code'])
Credit_Product_new = pd.get_dummies(train_new1['Credit_Product'])
train_new1["Region_Code"] = train_new1["Region_Code"].astype('category')
Region_Code_new = train_new1["Region_Code"].cat.codes

train_new = pd.concat([train_new1.iloc[ :, [2,6,8,9,10]], Gender_new, Region_Code_new, Credit_Product_new, Occupation_new, Channel_Code_new],axis=1)
train_new

,Age,Vintage,Avg_Account_Balance,Is_Active,Is_Lead,Female,Male,0,No,Yes,Entrepreneur,Other,Salaried,Self_Employed,X1,X2,X3,X4
0,73,43,1045696,No,0,1,0,18,1,0,0,1,0,0,0,0,1,0
1,30,32,581988,No,0,1,0,27,1,0,0,0,1,0,1,0,0,0
2,56,26,1484315,Yes,0,1,0,18,1,0,0,0,0,1,0,0,1,0
3,34,19,470454,No,0,0,1,20,1,0,0,0,1,0,1,0,0,0
4,30,33,886787,No,0,1,0,32,1,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245720,51,109,1925586,No,0,0,1,34,0,0,0,0,0,1,0,0,1,0
245721,27,15,862952,Yes,0,0,1,18,1,0,0,0,1,0,1,0,0,0
245722,26,13,670659,No,0,1,0,31,1,0,0,0,1,0,1,0,0,0
245723,28,31,407504,No,0,1,0,23,1,0,0,0,1,0,1,0,0,0
245724,29,21,1129276,No,0,0,1,19,1,0,0,0,1,0,1,0,0,0

In [154]:
train_new = train_new.rename(columns={'Female': 'Is_Female', 0:'Region_EnCode', 'No':'Credit_Product_Is_No', 'Yes':'Credit_Product_Is_Yes', 'X1':'Is_X1', 'X2':'Is_X2', 'X3':'Is_X3'})
Is_Active_new = pd.get_dummies(train_new['Is_Active'])
New_train = pd.concat([train_new.iloc[ : ], Is_Active_new],axis=1)
New_train = New_train.rename(columns={'Yes': 'Is_Active_Yes'})
New_train

,Age,Vintage,Avg_Account_Balance,Is_Active,Is_Lead,Is_Female,Male,Region_EnCode,Credit_Product_Is_No,Credit_Product_Is_Yes,Entrepreneur,Other,Salaried,Self_Employed,Is_X1,Is_X2,Is_X3,X4,No,Is_Active_Yes
0,73,43,1045696,No,0,1,0,18,1,0,0,1,0,0,0,0,1,0,1,0
1,30,32,581988,No,0,1,0,27,1,0,0,0,1,0,1,0,0,0,1,0
2,56,26,1484315,Yes,0,1,0,18,1,0,0,0,0,1,0,0,1,0,0,1
3,34,19,470454,No,0,0,1,20,1,0,0,0,1,0,1,0,0,0,1,0
4,30,33,886787,No,0,1,0,32,1,0,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245720,51,109,1925586,No,0,0,1,34,0,0,0,0,0,1,0,0,1,0,1,0
245721,27,15,862952,Yes,0,0,1,18,1,0,0,0,1,0,1,0,0,0,0,1
245722,26,13,670659,No,0,1,0,31,1,0,0,0,1,0,1,0,0,0,1,0
245723,28,31,407504,No,0,1,0,23,1,0,0,0,1,0,1,0,0,0,1,0
245724,29,21,1129276,No,0,0,1,19,1,0,0,0,1,0,1,0,0,0,1,0

In [158]:
train_new2 = New_train.loc[ :, ['Age','Vintage','Avg_Account_Balance','Is_Female','Region_EnCode','Credit_Product_Is_No','Credit_Product_Is_Yes','Entrepreneur','Salaried','Self_Employed','Is_X1','Is_X2','Is_X3','Is_Active_Yes','Is_Lead']]
train_new2
train_new2.to_csv("C:\\Users\\ani12\\Downloads\\New_Train.csv",index=False)

# Importing Working Dataset

In [170]:
from sklearn.model_selection import train_test_split

train_data = pd.read_csv("C:\\Users\\ani12\\Downloads\\New_Train.csv")

#y = train_data['Is_Lead']
y = train_data['Is_Lead'].astype('category')
#xs = train_new.loc[ : , train_new.columns != ('ID' and 'Is_Lead')]
x = train_data.iloc[ :, [0,1,2,3,4,5,6,7,8,9,10,11,12,13]]
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.2,random_state=0,stratify=y)
print("Training split input- ", x_train.shape)
print("Testing split input- ", x_test.shape)
#y_train.dtypes

Training split input-  (196580, 14)
Testing split input-  (49145, 14)

CategoricalDtype(categories=[0, 1], ordered=False)

# Using Decision Tree Model

In [178]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder#for train test splitting
from sklearn.metrics import classification_report, confusion_matrix#for visualizing tree 
from sklearn.tree import plot_tree
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier\
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import roc_curve, roc_auc_score
from matplotlib import pyplot as plt

#Defining the decision tree algorithm
dtree=DecisionTreeClassifier()
dtree.fit(x_train,y_train)
print('Decision Tree Classifier Created')

Decision Tree Classifier Created

In [179]:
# Predicting the values of test data
y_pred = dtree.predict(x_test)
print("Classification report - \n", classification_report(y_test,y_pred))


# Visualising the graph without the use of graphvizplt.figure(figsize = (20,20))
#dec_tree = plot_tree(decision_tree=dtree, feature_names = df1.columns, class_names =["setosa", "vercicolor", "verginica"] , filled = True , precision = 4, rounded = True)



#Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Classification report -
               precision    recall  f1-score   support

           0       0.86      0.85      0.86     37487
           1       0.55      0.57      0.56     11658

    accuracy                           0.79     49145
   macro avg       0.71      0.71      0.71     49145
weighted avg       0.79      0.79      0.79     49145

Accuracy: 0.7865703530369316

In [187]:
y_score2 = dtree.predict_proba(x_train)[:,1]
print('roc_auc_score for DecisionTree: ', roc_auc_score(y_train, y_score2))
y_score1 = dtree.predict_proba(x_test)[:,1]
print('roc_auc_score for DecisionTree: ', roc_auc_score(y_test, y_score1))

roc_auc_score for DecisionTree:  0.9999999997139657
roc_auc_score for DecisionTree:  0.7118405690755547

In [54]:
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

ValueError: could not convert string to float: 'Female'

In [83]:
from sklearn.preprocessing import OneHotEncoder
x1 = [[11, "Spain"], [22, "France"], [33, "Spain"], [44, "Germany"], [55, "France"]]
y1 = OneHotEncoder(x1)
print(y1)

C:\Users\ani12\anaconda1\lib\site-packages\sklearn\utils\validation.py:67: FutureWarning: Pass categories=[[11, 'Spain'], [22, 'France'], [33, 'Spain'], [44, 'Germany'], [55, 'France']] as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

OneHotEncoder(categories=[[11, 'Spain'], [22, 'France'], [33, 'Spain'],
                          [44, 'Germany'], [55, 'France']])